<%= link_to image_tag("h.jpg",  size: "60x60" ), logins_show_path  %>
<%= form_tag search_index_path,:method => 'get',  :id => "customers_profiles_search"  do %>
    <p>
      <%= text_field_tag :query, params[:query],placeholder: 'Firsh Name or Last Name', id: 'query' %>
      <%= submit_tag "Search",fname: nil %>
    </p>
<% end %>


<table border="1" cellpadding="8" cellspacing="5">
  <thead>
  <tr>
    <td id="td1"><button>order by Fname</button></td>
    <td id="td2"><button>order by Lname</button></td>
    <td id="td2">Date of Birth</td>
  </thead>
  <br>
  <tbody id="list_of_customers">
  <%= render 'customers',customers: @customers %>
  </tbody>
</table>

<br>
<%= link_to "Back" , logins_show_path %>



<script type="text/javascript">
    $('#customers_profiles_search').submit(function (e){
        e.preventDefault()
        action = '/search/index'
        query = $('#query').val()
        $.ajax({
            url:  action,
            type: 'GET',
            data: {query: query}
        })
    })

    $('#td1').click(function(){
        action = '/search/assen'
        $.ajax({
            url: action,
            type: 'GET'
        })
    });

    $('#td2').click(function(){
        action = '/search/desen'
        $.ajax({
            url: action,
            type: 'GET'
        })
    });
</script>