
<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>
<br>
<br>
<%= form_tag(logins_forgot_path, method: "post")  do %>


  <table style="border: 1px solid #2E2F30" cellpadding="5" cellspacing="0">
  <tr>
    <td></td>
    <td style="color: #e2161f">Enter Your Email</td>
  </tr>
  <tr>
  <td><%= label_tag(:email, "Email:") %></td>
  <td><%= text_field_tag(:email,params[:email]) %></td>
  </tr>
  <tr>
    <td></td>
    <td ><%= submit_tag("Submit") %></td>
  </tr>
</table>
<%end%>


<br>
<%= link_to 'Back',log_in_path%>



