<p>Enter your username</p>


<%= form_tag({controller: "logins", action: "forgot"}, method: "get")  do %>
<fieldset>
  <%= label_tag(:username, "username:") %>
  <%= text_field_tag(:username,params[:username]) %>
  <%= submit_tag("Submit") %>
</fieldset>
<%end%>


<br>
<%= link_to 'Back',log_in_path%>