<style>

    a {
        text-decoration: none;
        color: blue;
    }

    input {
        height: 30px;
        font-size: 21px;
    }
</style>
<% if flash[:notice] %>
     <p style="color: green; font-size: 20px" ><%= flash[:notice] %> </p>
<% end %>

<div class="regpot_form">
<% if session[:customer_id].nil? %>
  <%= form_tag create_login_path do %>
      <table style="border: 2px solid rgba(22, 12, 22, 0.33); margin:10px auto;" cellpadding="8" cellspacing="5">

        <p style="color: rgba(25, 10, 13, 0.77); margin-top: 200px;  font-size: 25px"  align="center">Sign in to continue</p>
      <tr>
        <% if flash[:error] %>

          <td style="color: red">  <%= flash[:error] %></td>
        <% end %>
        </p>
      </tr>
        <tr>

          <td><%= text_field_tag :username, params[:username], placeholder: 'Username' %></td>
        </tr>
        <tr>

          <td><%= password_field_tag :password, params[:password],placeholder: 'Password' %></td>
        </tr>
        <tr>

          <td style="font-size: 20px"><%= submit_tag "Login" %> &nbsp;
          <%= link_to 'Forgot Password',  forgot_password_path%> </td>
          </tr>

      </table>
<% end %>
<p align="center">
      <%= link_to 'Home', customers_path  %>
  <% else %>
      <%= link_to 'Home', login_path(session[:customer_id]) %>
  <% end %>
  </p>
</div>



