<style>

    a {
        text-decoration: none;
        color: blue;
    }
</style>

<div class="regpot_form">
<% if flash[:error] %>
      <p id="notice" ><%= flash[:error] %></p>
  <% end %>
  <% if flash[:notice] %>
      <p id="notice" ><%= flash[:notice] %></p>
  <% end %>

<% if session[:customer_id].nil? %>
  <%= form_tag create_login_path do %>
      <table style="border: 2px solid #080103; margin:10px auto;" cellpadding="15" cellspacing="3">
        <p style="color: rgba(25, 10, 13, 0.77); margin-top: 200px;"  align="center">Sign in to continue</p>
        <tr>
          <td><label for="username" >Username:</label><br></td>
          <td><%= text_field_tag :username, params[:username] %></td>
        </tr>
        <tr>
          <td><label for="password" >Password:</label><br></td>
          <td><%= password_field_tag :password, params[:password] %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= submit_tag "Login" %> &nbsp;
          <%= link_to 'Forgot Password',  forgot_password_path%></td>
          </tr>

      </table>
<% end %>
<p align="center">
      <%= link_to 'Home', customers_path  %>
  <% else %>
      <%= link_to 'Home', login_path(session[:customer_id]) %>
  <% end %>
  </p>
</div>



