

<%= form_for @user, url: logins_update_path(@user.password_reset_token) do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table border="0" style="border: 1px solid #2E2F30" cellpadding="7"  cellspacing="0">
      <tr>
        <td width="160"><%= label_tag(:password , 'Password')%></td>
        <td><%= password_field_tag(:password) %></td>
      </tr> <br>
      <tr>
        <td width="160"><%= label_tag(:password_confirmation,'Conform Password')%></td>
        <td><%= password_field_tag(:password_confirmation)%></td>
      </tr><br>
      <tr>
        <td></td>
        <td ><%= submit_tag("Change")%></td>
      </tr>
    </table><br>
<% end %>

