
<% if flash[:error] %>
    <%= flash[:error]%>
<% end %>
<%= form_tag({controller: "logins", action: "pd_update_for_login_customers"}, method: "put")  do %>
    <h3 style="color: #e21c26"> Change your password</h3>
    <table border="0" style="border: 1px solid #2E2F30" cellpadding="7"  cellspacing="0">
      <tr>
        <td width="160"><%= label_tag(:password , 'Password')%></td>
        <td><%= password_field_tag(:password) %></td>
      </tr>
      <tr>
        <td width="160"><%= label_tag(:password_confirmation,'Conform Password')%></td>
        <td><%= password_field_tag(:password_confirmation)%></td>
      </tr>
      <tr>
        <td></td>
        <td ><%= submit_tag("Change")%></td>
      </tr>
    </table>
<%end%>

<br>
<%= link_to "Back", customers_profile_path  %>