<%= form_for(@customers_profile) do |f| %>

    <% if @customers_profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customers_profile.errors.count, "error") %> prohibited this customers_profile from being saved:</h2>

          <ul>
            <% @customers_profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <h3 style="color: #1c5fe2">Update customer profile</h3>
  <table border="0" style="border: 1px solid #2E2F30" cellpadding="5"  cellspacing="5">
    <tr>
      <td><%= f.label :fname %><br></td>
      <td><%= f.text_field :fname %></td>
    </tr>
    <tr>
      <td><%= f.label :lname %><br></td>
      <td> <%= f.text_field :lname %></td>
    </tr>
    <tr>
      <td><%= f.label :dob %><br></td>
      <td> <%= f.date_select :dob %></td>
    </tr>
    <tr>
      <td><%= f.label :mobile  %><br></td>
      <td> <%= f.text_field :mobile %></td>
    </tr>
    <tr>
      <td><%= f.label :address %><br></td>
      <td> <%= f.text_area :address %></td>
    </tr>
    <tr>
      <td><%= f.label :gender %><br></td>
      <td> <%= f.text_field :gender %></td>
    </tr>
    <tr>
       <td></td>
       <td><%= f.submit %></td>
    </tr>
   </table>
    <br>
    <%= link_to "Back",   %>
<% end %>
