<% if flash[:notice] %>
    <div class="'notice"><%=flash[:notice]%></div>
<% end%>

<table border="0" style="border: 1px solid #2E2F30" cellpadding="5"  cellspacing="7">
  <h3 style="color: #e23624">Customer Profile</h3>
  <tr>
    <td>First Name :</td>
    <td style="border:2px solid #BBBBBB"><%= @customers_profile.fname %> &nbsp; &nbsp; </td>
  </tr>

  <tr>
    <td>Last Name :</td>
    <td style="border:2px solid #BBBBBB"><%= @customers_profile.lname %> &nbsp; &nbsp; </td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td>Date of Birth :</td>
    <td style="border:2px solid #BBBBBB"><%=  @customers_profile.dob %> &nbsp; &nbsp; </td>
  </tr>

  <tr>
    <td>Gender :</td>
    <td style="border:2px solid #BBBBBB"><%=  @customers_profile.gender %> &nbsp; &nbsp; </td>
  </tr>

  <tr>
    <td>Mobile :</td>
    <td style="border:2px solid #BBBBBB"><%= @customers_profile.mobile %> &nbsp; &nbsp; </td>
  </tr>

               <%# changing country code to country name %>
               <% country = Carmen::Country.coded(@customers_profile.country) %>

  <% if country.nil? %>
      <tr>
        <td>Country :</td>
        <td style="border:2px solid #BBBBBB"><%= @customers_profile.country %> &nbsp; &nbsp; </td>
      </tr>
      <tr>
        <td>State :</td>
        <td style="border:2px solid #BBBBBB"><%= @customers_profile.state %> &nbsp; &nbsp; </td>
      </tr>
 <% else %>
      <tr>
        <td>Country :</td>
        <td style="border:2px solid #BBBBBB"><%= country.name %> &nbsp; &nbsp; </td>
      </tr>
      <%# changing state code to state name %>
      <% state = country.subregions.coded(@customers_profile.state) %>
      <tr>
        <td>State :</td>
        <td style="border:2px solid #BBBBBB"><%= state.name %> &nbsp; &nbsp; </td>
      </tr>
<% end %>


    <td>Address :</td>
    <td style="border:2px solid #BBBBBB"><%= @customers_profile.address %> &nbsp; &nbsp; </td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to "Edit", edit_customers_profiles_path(session[:customer_id])%></td>
  </tr>


</table>
<br>
<table  border="0" style="border: 1px solid #2E2F30" cellpadding="4"  cellspacing="4">
  <tr>
    <td><%= link_to "Change Password",logins_psword_change_for_login_customer_path%></td>
  </tr>
</table>
<br>
<table  border="0" style="border: 1px solid #2E2F30" cellpadding="4"  cellspacing="4">
  <tr>
    <td><%= link_to "Deactivate",deactivate_customer_path(session[:customer_id]),data: { confirm: "Are you sure?" }%></td>
  </tr>
</table>


<br>

<%= link_to "Back",  logins_show_path%>