<style type="text/css">
    #top{
        position:absolute;
        top:0;
        right:0;
    }
</style>



<% if flash[:notice] %>
    <div class="'notice" style="color: red"><%=flash[:notice]%></div>
<% end%><br>

<%= form_tag book_path ,:method => 'get',  :id => "search_book"  do%>
    <%= text_field_tag :query, params[:query],placeholder: 'Book Name', id: 'query' %>
    <%= submit_tag "Search"%>
<%end  %>

<div id="list_of_books">

  <%= render 'book',book: @books  %>

</div>
<br>
<div id="top">
<%= link_to "Add new book", new_book_path %>
</div>



<script type="text/javascript">
    $('#search_book').submit(function(e){
        e.preventDefault()
        action = '/books/show'
        query = $('#query').val()
        $.ajax({
            url: action,
            type: 'GET',
            data: {query: query}
        })
    })

</script>


