<!DOCTYPE html>
<html>
<head>
  <title>Regpor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div >
<% if client_signed_in? %>
Signed in as<span style="color: red"> <%= current_client.email  %></span> Not you?
 <span style="color: red"> <%= link_to "Sign out", destroy_client_session_path, :method => :delete %>

  <% else %>
      <%= link_to "Sign up", new_client_registration_path %> or <%= link_to "sign in", new_client_session_path %></span>
  <% end %>
</div>


<%= yield %>

</body>
</html>
